---
layout: default
permalink: /
---

 {% include hero.html %}

 {% include about.html %}

 {% if site.statisticBlockEnabled %}
 {% include statistic.html %}
 {% endif %}

 {% if site.latestNewsEnabled %}
 {% include latest-news.html %}
 {% endif %}

 {% if site.rockstarSpeakersEnabled %}
 {% include rockstar-speakers.html %}
 {% endif %}

 {% include location-map.html %}

 {% if site.venueEnabled %}
 {% include venue.html %}
 {% endif %}
 
 {% if site.twitterFeedEnabled %}
 {% include twitter-feed.html %}
 {% endif %}


 {% include partners.html %}

 {% if site.subscribeEnabled %}
 {% include subscribe.html %}
 {% endif %}

 {% if site.ticketsEnabled %}
 {% include tickets.html %}
 {% include tickets-2.html %}
 {% endif %}
